*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #d9d9d9;

}
.container{
    margin: 8vh 16vh;
    padding: 4vh 16vh;
    font-family: 'Montserrat', sans-serif;
    text-align:center;    
    font-size: 14px;
    background-color: #fff;
}


.slider{    
    z-index: -1;
    opacity: 0;
	background: rgb(0,0,0,0.9) ;
	position: absolute;
    right: 0;
    top: 185%;
	width: 100%;
	transition: opacity 1s;
}

.slider img{
    max-height: 100vh;
}
.cont{
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.slider-container{
    height: fit-content;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-auto-rows: auto;
    align-items: center;
    gap: 1em;
}
.slider-body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}
.slider-body-show{
    opacity:1;
    pointer-events: unset;
}
.slider-img{
    width: 100%;
    object-fit: scale-down;
    display: block;
    margin: 0 auto;
}
.slider-arrow{
    color: #E5E5E5;
    background: none;
    cursor: pointer;
    width: 90%;
    border: none;
}

#next i{
    justify-content: flex-end;
    margin-right: 0;
}
#exit{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #E5E5E5;
    background: none;
    border: none;

}

.top-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.profile-cont{
    margin: 10px auto;
    color: #4e5150;
}
.profile-cont img{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 15%;
}
h1{
    font-size: 24px;
    margin: 2.5vh 0;
}

.info{
    display: flex;
    margin: 5vh 0 7vh 0;
    justify-content: space-around;
    font-weight: 400;
}
h2{
    font-size: 16px;
    font-weight: 600;
}
.info section{
    width: 110px;
    height: 70px;
    border: 1px solid #E6E6E6;
    background-color: #E5E5E5;
    border-radius: 12px;
}
.box{
    color: #4E5150;
    padding: 15px 0;
    cursor: pointer;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 4vh;
}
.photos img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 12px;

}
.photos:first-child{
    grid-column:1/2 ;
    grid-row: 1/2;
}
.photos:nth-child(2){
    grid-column:2/4 ;
    grid-row: 1/2;
}
.photos:nth-child(3){
    grid-column: 1/3;
    grid-row: 2/3;
}
.photos:nth-child(4){
    grid-column: 3/4;
    grid-row: 2/4;
}
.photos:nth-child(5){
    grid-column: 1/2;
    grid-row: 3/4;
}
.photos:last-child{
    grid-column: 2/3;
    grid-row: 3/4;
}
.photos img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    filter:saturate(170%);
    border-radius: 12px;
}
.photos{
    overflow: hidden;
}
#show{
    margin-top: 35px;
    padding: 10px;
    background: #E5E5E5;
    color: #4e5150;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
#show:hover{
    background:#999; 
    color: #E5E5E5;

}


footer{
    background-color: #fff;
	margin: 25vh 16vh 5vh 16vh;
    padding: 20px 0;
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: monospace;
	font-size: 2.5vh;
}
@media screen and (max-width: 1000px) {
    .container{
        margin: 2vh 6vh;
        padding: 5vh 7vh;
        font-size: 10px;
    }
    
    .slider{
        top: 60%;
    }
    .profile-cont img{
        width: 150px;
        height: 150px;
    }
    .info{
        margin: 3.5vh 0;
    }    
    .info section{
        width: 80px;
        height: 45px;
    }
    h1{
        font-size: 18.5px;
    }    
    h2{
        font-size: 14px;
    }
    .box{
        padding: 5px;
    }
    .gallery{
        gap: 2vh;
    }
    
}
@media screen and (max-width: 640px) {
    .container{
        margin: 2vh 2.5vh;
        padding: 2.5vh 2.5vh;
        font-size: 8px;
    }
    .slider{
        top: 30%;
    }
    .profile-cont img{
        width: 100px;
        height: 100px;
    }
    .info{
        margin: 2vh 0 3vh 0;
    }    
    .info section{
        width: 60px;
        height: 35px;
    }
    h1{
        font-size: 15.5px;
        margin: 1.5vh 0;
    }    
    h2{
        font-size: 12px;
    }
    .box{
        padding: 5px;
    }
    .gallery{
        gap: 1.5vh;
    }
    footer{
        font-size: smaller;
        margin: 20vh 4vh 5vh 4vh;
    }
    
}
